# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Turborepo
.turbo

# Node dependencies
node_modules

# Logs
logs
*.log

# Cloudflare
.wrangler

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

coverage/**
apps/web/app/tests/e2e/screenshots/**
apps/native/src-tauri/.tauri.release.*.json
apps/native/src-tauri/embedded.provisionprofile
apps/web/.generated/*
